<!-- Price Range Filter -->
<div class="filter-section mb-4">
    <h5>Price Level</h5>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="all" id="price-all" checked>
        <label class="form-check-label" for="price-all">Any Price</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="1" id="price-1">
        <label class="form-check-label" for="price-1">$ (Inexpensive)</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="2" id="price-2">
        <label class="form-check-label" for="price-2">$$ (Moderate)</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="3" id="price-3">
        <label class="form-check-label" for="price-3">$$$ (Expensive)</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="4" id="price-4">
        <label class="form-check-label" for="price-4">$$$$ (Very Expensive)</label>
    </div>
</div>